<div class="logo" routerLink="/" @slideUp>
	<span class="glow pacifico">glow</span>
	<span class="reflexology lato">reflexology</span>
</div>
<ul class="menu" @slideUp>
  <li class="link" [ngClass]="{'link-dark': currentRoute != '/' && !showMenu}" routerLinkActive="active" *ngFor="let option of options" routerLink="{{option.route}}">{{option.label}}</li>
</ul>
<ul class="menu menu-responsive" [ngClass]="{'menu-shown': showMenu}" *ngIf="showMenu" @slideRight>
  <li class="link" routerLinkActive="active" *ngFor="let option of options" routerLink="{{option.route}}">{{option.label}}</li>
</ul>
<i class="far fa-bars link" *ngIf="!showMenu" @slideUp (click)="toggle(true)"></i>
<i class="far fa-times link" *ngIf="showMenu" @slideRight (click)="toggle(false)"></i>
<div *ngIf="showMenu" class="overlay" @fade></div>
<footer *ngIf="showMenu" @slideDown></footer>
