<div class="social">
  <span class="link">
    <a href="https://www.facebook.com/glowwithreflexology" target="_blank">
      <i class="fab fa-facebook-square"></i>
    </a>
  </span>
  <span class="link">
    <a href="https://www.instagram.com/glowreflexology" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
  </span>
</div>
<div class="links">
  <span class="link">
    <a routerLink="/data-protection-policy">
      data protection policy
    </a>
  </span>
  <span class="link">
    <a routerLink="/code-of-ethics">
      code of ethics
    </a>
  </span>
</div>
