<div class="title">
  <h2>about reflexology</h2>
</div>
<h3>The ancient practice of foot reflexology has developed from the premise that there are over 7,000 reflex points in the feet that can be mapped to different parts of your body.</h3>
<img src="assets/images/barefoot-close-up.jpg" />
<div class="body-copy">
  <p>Applying pressure to these reflexes is deeply relaxing which in turn can provide the optimal state for your body to heal.  Reflexology is not a cure but it can help people suffering with many different problems to feel better.  It is a complementary therapy and is recognised by the NHS, many GPs and hospices.  It is a natural therapy that people of all ages use, who are suffering with many different symptoms:</p>
  <ul class="bold">
    <li>Stress, anxiety or depression</li>
    <li>Fertility issues</li>
    <li>Pregnancy and postnatal</li>
    <li>Digestive</li>
    <li>Headaches/ migraines</li>
    <li>Insomnia</li>
    <li>And many more...</li>
  </ul>
  <p>However you do not need to have a particular condition to enjoy reflexology as it provides a wonderful way to de-stress, relax and unwind.</p>
  <p>While reflexology works very well alongside conventional medicine, it should never be used in place of seeking professional medical advice.  If you are concerned about your health, always consult your GP first.</p>
</div>
