<div class="title">
  <h2>contact</h2>
</div>
<div class="details">
  <div><strong>Landline</strong><span class="pull-right">01403 256259</span></div>
  <div><strong>Mobile</strong><span class="pull-right">07706 279102</span></div>
  <div><strong>Email</strong><span class="pull-right"><a href="mailto:emily@glowreflexology.co.uk">emily@glowreflexology.co.uk</a></span></div>
  <div><strong>Facebook</strong><a class="pull-right" href="https://www.facebook.com/glowwithreflexology/">@glowwithreflexology</a></div>
  <div><strong>Instagram</strong><a class="pull-right" href="https://www.instagram.com/glowreflexology/">@glowreflexology</a></div>
</div>
<div class="body-copy">
  <p>To make a booking, an enquiry, or just to find out a bit more about reflexology, please feel free to get in touch by any of the methods above.</p>
  <p>I am very interested in working at festivals or corporate wellness days etc., please don’t hesitate to get in touch for a chat.</p>
</div>
