<p>To make a booking, an enquiry, or just to find out a bit more about reflexology, please feel free to get in touch by any of the methods below:</p>
<div>Landline: 01403 256259</div>
<div>Mobile: 07706 279102</div>
<div>Email: emily@glowreflexology.co.uk</div>
<div>Facebook: glow_reflexology</div>
<div>Instagram: glow_reflexology</div>
<p style="margin-top: 10px;">I am very interested in working at festivals or corporate wellness days etc., please don’t hesitate to get in touch for a chat.</p>
