<div class="title">
  <h2>what to expect</h2>
</div>
<h3>Glow reflexology operates on a mobile basis within a 10 mile radius of Horsham. Evening and Saturday morning appointments are available.</h3>
<div class="body-copy">
  <p>Clients are encouraged to wear comfy clothes during a treatment to enable maximum relaxation (pyjamas are totally fine!) We provide everything required for a treatment (chair, towels, music etc.) and just need a quiet space so that you can really relax. A choice of scented massage wax and music is available as we know that everyone relaxes differently. We also provide an optional warming scented eye mask or weighted blanket to maximise relaxation.</p>
  <p>The treatment itself lasts around one hour including consultation and setup/down time. Treatments include a consultation to understand any past or current health or lifestyle issues so that the treatment can be tailored to you, to ensure you get the most out of the session.</p>
</div>
