<p>Foot reflexology treatment, based on a home visit - £35</p>
<h3>Special offers</h3>
<p>April & May “Introductory Offer”: £5 off a treatment</p>
<p>April & May “Recommend a friend”: if you are an existing client and you put a friend or family member in touch, both you and your friend can enjoy a treatment for £25
Loyalty scheme: enjoy your 6th treatment for free</p>
<h3>Cancellations</h3>
<p>While it is appreciated that emergencies can crop up at any time, glow reflexology is a small business so have to reserve the right to charge for the appointment if it is cancelled with less than 24 hours notice.</p>
