<div class="title">
  <h2>pricing &amp; offers</h2>
</div>
<div class="body-copy">
  <h3>Home visit in Horsham and surrounding areas.</h3>
  <p>Foot reflexology treatment - <span class="bold">£35</span></p>
  <h3>Well & Good Studios</h3>
  <p>Foot reflexology treatment - <span class="bold">£45</span></p>
  <h3>Special offers</h3>
  <p><span class="bold">May “Introductory Offer”:</span><br />£5 off a treatment</p>
  <p><span class="bold">May “Recommend a friend”:</span><br />If you are an existing client and you put a friend or family member in touch, both you and your friend can enjoy £10 off a treatment.</p>
  <p><span class="bold">Loyalty scheme:</span><br />Enjoy your 6th treatment for free</p>
  <h3>Cancellations</h3>
  <p>While it is appreciated that emergencies can crop up at any time, glow reflexology is a small business so have to reserve the right to charge for the appointment if it is cancelled with less than 24 hours notice.</p>
</div>
<div class="image"></div>
